
.ctn-cakes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160vh;
  background-color: transparent;
  padding-top: 70vh;
}

.ctn-cake-bar{
  background-image: url(../assets/img/fundo1.png);
  background-size: contain;
  width: 90vw;
  height: 108px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ctn-cake-bar p{
  color: var(--color-brown);
  font-family: var(--font-raleway);
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.1vw;
}

#ctn-cakes{
  width: 90vw;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  padding-top: 3vh;
}
.cakes-image{
  width: 44vw;
  height: 60vh;
  overflow: hidden;
  object-fit: cover;
}

/* Cakes - Carrossel  */
.ctn-images-cakes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  background-color: transparent;
  padding-top: 5vh;
}
.txt-instagram {
  color: var(--color-brown);
  font-family: var(--font-raleway);
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}
#ctn-images{
  width: 90vw;
  height: 28vh;
  display: flex;
  justify-content: space-between;
  padding-top: 5vh;
}
.image{
  width: 11vw;
  height: 17vh;
  overflow: hidden;
  object-fit: cover;
}

/* email  */
.ctn-email{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
  background-color: transparent;
  padding-top: 20vh;
  gap: 2vh
}
.txt-sign {
  color: var(--color-brown);
  font-family: var(--font-raleway);
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}

.input-email{
  font-family: var(--font-raleway);
  background-color: var(--color-white);
  width: 25vw;
  height: 8vh;
  color: var(--color-brown);
  font-size: 1.2vw;
  padding: 1vh 1vw;
  border: solid 1px var(--color-brown);
}
#btn-sign{
  text-decoration: none;
}
#divlink-sign{
  font-family: var(--font-raleway);
  background-color: var(--color-brown);
  width: 25vw;
  height: 5vh;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2vw;
  border: none;
}
#divlink-sign:hover{
  background-color: var(--color-pink);
  color: var(--color-brown);
}